.cart-no {
    position: absolute;
    min-height: 1.5em;
    min-width: 1.5em;
    border-radius: 50%;
    font-size: 1em;
    background: #19B5FE;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}